:root {
  --background-color: #1d1d1d;
  --card-color1: #4b4b4b;
  --card-color2: #292929;
  --card-block: #1b1b1b;
  --text-dark: #ffffff;
  --text-dhover: #a4a4a4;
  --sidebar: #101010;
  --sidebar-btn-hover: #181818;

  {/* light mode */}
  --bg-light: #CECECE;
  --text-light: #000000;
  --text-lhover: #343434;
  --card-color1l: #F4F4F4;
  --card-color2l: #C9C9C9;
  --sidebar-light: #E7E6E6;
  --sidebar-btn-hoverl: #DBDBDB;
}

body {
  font-family: "JetBrains Mono", monospace;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
