:root {
  --background-color: #1d1d1d;
  --card-color1: #4b4b4b;
  --card-color2: #292929;
  --card-block: #1b1b1b;
  --text-color: #ffffff;
  --text-hover: #a4a4a4;
  --sidebar: #101010;
  --sidebar-btn-hover: #181818;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--text-color);
}

button {
  cursor: pointer;
}
